<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Trabzon Takvimi{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/favicon-16x16.png') }}">


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description"
              content="Trabzon Tarihi’nde kendisine yer bulan olayları, mekânları, kişileri dijital ortamda tanıtan takvim."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

        <meta name="theme-color" content="#000000"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="default"/>

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content=""/>
        <meta name="twitter:url" content="{{ absolute_url(path('app_main')) }}"/>
        <meta name="twitter:title" content="Dijital Maarif Takvimi"/>
        <meta name="twitter:description"
              content="Trabzon Tarihi’nde kendisine yer bulan olayları, mekânları, kişileri dijital ortamda tanıtan takvim."/>
        <meta name="twitter:image" content="{{ absolute_url(asset('/icons/calendarIcon.png')) }}"/>

        <!-- Open Graph -->
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Dijital Maarif Takvimi"/>
        <meta property="og:description"
              content="Trabzon Tarihi’nde kendisine yer bulan olayları, mekânları, kişileri dijital ortamda tanıtan takvim."/>
        <meta property="og:site_name" content="Dijital Takvim"/>
        <meta property="og:url" content="{{ absolute_url(path('app_main')) }}"/>
        <meta property="og:image" content="{{ absolute_url(asset('/icons/calendarIcon.png')) }}"/>

        <link rel="preload" href="{{ asset('manifest.json') }}"/>
        <link rel="manifest" href="{{ asset('manifest.json') }}"/>
        <link rel="stylesheet" href="{{ asset('css/native-like-experience.css') }}"/>
        <script async src="https://unpkg.com/pwacompat" crossOrigin="anonymous"></script>

        <!-- Apple touch icon -->
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('icons/apple-touch-icon_120.png') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/apple-touch-icon_180.png') }}"/>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% if app.environment == 'dev' %}
            <script>var global = window</script>
            <script type="module">
                import RefreshRuntime from "http://localhost:3000/build/@react-refresh"

                RefreshRuntime.injectIntoGlobalHook(window)
                window.$RefreshReg$ = () => {
                }
                window.$RefreshSig$ = () => (type) => type
                window.__vite_plugin_react_preamble_installed__ = true
            </script>
        {% else %}
            <script>
                if ("serviceWorker" in navigator) {
                    window.addEventListener("load", function () {
                        navigator.serviceWorker
                            .register("{{ asset('/serviceWorker.js') }}")
                            .then((registration) => {
                                console.log("SW registration successful");
                            });
                    });
                }
            </script>
        {% endif %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
